<p class="text-light container pt-5">  <span class="text-danger"><i>REC</i></span> es una empresa Colombiana que cuenta con una línea de alquiler de
  equipos cinematográficos, dirigida por un personal técnico con más de 25 años de experiencia en la industria del cine
  y la televisión.
<br>
<br>
  Somos una empresa que está dispuesta a apoyarlo en sus proyectos audiovisuales, ofreciéndole un servicio integral,
  donde podrá encontrar todos lo equipos que necesita para el excelente desarrollo de sus producciones audiovisuales con
  conocimiento, excelente manejo de presupuestos, atención 24 horas para entrega y recepción de equipos, un amplio
  portafolio de equipos de cámara, ópticas, iluminación, grip de cámara, grip y tramoya. Lo asesoramos por medio de
  profesionales en las diferentes áreas audiovisuales . </p>