<div class="container">
    <div class="row g-2">
      <div class="col-6">
        <img src="../../../assets/img/nordwood-themes-F3Dde_9thd8-unsplash.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-6">
        <img src="../../../assets/img/andrej-lisakov-h7NJAoE6C-I-unsplash.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-6">
        <img src="../../../assets/img/nata-figueiredo-NOHtQAvBG-o-unsplash.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-6">
       <img src="../../../assets/img/michal-franczak-PkDRmWEVpL4-unsplash2.jpg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
