<br>
<br>
<br>
<br>
<div class="container">
  <footer class="d-flex  justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2021 REC, Inc</p>


    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/principal" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="/caracteristicas" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="/precio" class="nav-link px-2 text-muted">Pricing</a></li>

    </ul>
  </footer>
</div>