<div class="container">
  <div class="row g-1 pt-5">
    <div class="col-4">
      <button  class="btn-success rounded-3">
        <a  href="https://wa.me/573024047738"><img  src="../../../assets/img/whatsapp.svg" width="240" height="240" alt=""
            class="img-fluid ">
        </a>
      </button>
    </div>
    <div class="col-4">
      <button style="border-radius: 12px;" class="pink ">
        <a href="https://instagram.com "><img src="../../../assets/img/instagram.svg" alt="" width="240" height="240"
            class="img-fluid">
        </a>
      </button>
    </div>
    <div class="col-4 ">
      <button class="btn-primary rounded-3">
        <a href="https://facebook.com">
          <img src="../../../assets/img/facebook.svg " alt="" width="240" height="240" class="img-fluid">
        </a>
      </button>
    </div>
  </div>
<!-- !segunda linea -->

  <div class="row g-1 pt-5 ">
    <div class="col-4">
      <button class="btn-primary">
        <a href="https://twitter.com rounded-3"><img src="../../../assets/img/twitter.svg" width="240" height="240" alt=""
            class="img-fluid">
        </a>
      </button>
    </div>
    <div class="col-4">
      <button class="btn-danger rounded-3">
        <a href="https://gmail.com"><img src="../../../assets/img/envelope-fill.svg" alt="" width="240" height="240"
            class="img-fluid">
        </a>
      </button>
    </div>
    <div class="col-4">
      <button class="btn-primary rounded-3">
        <a href="https://web.telegram.org/k/">
          <img src="../../../assets/img/telegram.svg " alt="" width="240" height="240" class="img-fluid">
        </a>

      </button>
    </div>
  </div>

</div>